body{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

button:focus,
button:hover,
input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover{
    outline: none !important;
    box-shadow: none !important;
}
nav .navbar-light .navbar-nav .nav-link{
    color: black;
}
nav{
    box-shadow: 0px 3px 23px rgba(0, 0, 0, 0.1);
}

nav.navbar-light .navbar-nav .nav-link:active
{
    font-weight: 600;
}

nav.navbar-light .navbar-nav .nav-link.active{
    font-weight: 700;
    color:#CC160E !important;
}
.carousel-indicators [data-bs-target]{
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: gray;
}

header form button i {
    color: #f9f9f9a1 !important;
}

header form input{
    display: none !important;
}

.form-header:hover input{
    display: block !important;
}

.form-header:hover button{
    background-color: red;
    
}
.form-header:hover i{
    color: white !important;
}
/**
*    peso de letra
*/
.fw-600{
    font-weight: 600;
}
/**
Tamaños de letra
*/
.font-size-78{
    font-size: 78px;
}
.font-size-62{
    font-size: 62px;
}
.font-size-60{
    font-size: 60px;
}
.font-size-58{
    font-size: 58px;
}
.font-size-50{
    font-size: 50px;
}
.font-size-40{
    font-size: 40px;
}
.font-size-36{
    font-size: 36px;
}
.font-size-30{
    font-size: 30px;
}
.font-size-28{
    font-size: 28px;
}
.font-size-27{
    font-size: 27px;
}
.font-size-26{
    font-size: 26px;
}
.font-size-25{
    font-size: 25px;
}
.font-size-24{
    font-size: 24px;
}
.font-size-23{
    font-size: 23px;
}
.font-size-22{
    font-size: 22px;
}
.font-size-21{
    font-size: 21px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-19{
    font-size: 19px;
}
.font-size-18{
    font-size: 18px !important;
}
.font-size-17{
    font-size: 17px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-15{
    font-size: 15px !important;
}

.font-size-14{
    font-size: 14px !important;
}

.font-size-13{
    font-size: 13px !important;
}

.font-size-12{
    font-size: 12px;
}

.font-size-11{
    font-size: 11px;
}

.header a{
    text-decoration: none;
}
.header a:hover,
.header a:focus
.header a:active{
    color: white;
}
th{
    border: none;
}
.text-light {
    color: #f9f9f9a1 !important;
}

.text-blue{
    color: #24348C !important;
}
.text-dark{
    color: #333333 !important;
}
.text-red{
    color: #CC160E;;
}
.bg-red{
    background-color: #CC160E;
}
.bg-red-2{
    background-color: #D82827;
}
.bg-celeste{
    background-color: #F7F9FC !important;
}
.bg-blue{
    background-color: #24348C;
}
.bg-primary{
    background-color: #00183E !important;
}
.breadcrumb-item + .breadcrumb-item::before{
    content: '|';
    color: black;
}
input::placeholder,
input,
textarea{
    font-size: 16px;
    color: #1D1D1A;
}
.underline:hover{
    text-decoration: underline !important;
}
.newsletter .form-control:focus,
.newsletter .form-control:active
.newsletter .form-control:hover{
    box-shadow: none;
    border-color: none;
}

.cd-none{
    display: none;
}
.cd-none a:hover{
    font-weight: bold;
}

.ul-style ul, .ul-style-compatibility {
    list-style: none; /* Remove default bullets */
}
.ul-style-compatibility li::before{
    content: "\2022";
    color: #FFDD00;
    font-weight: bold;
    display: inline-block;
    margin-left: -1em;
    font-size: 25px;
    width: 1rem;
    position: relative;
    top: 4px;
    height: 0;
    list-style: none;
}

.ul-style ul li::before{
    content: "-";
    display: inline-block;
    margin-left: -1em;
    font-size: 25px;
    width: 1rem;
    position: relative;
    top: 4px;
    height: 0;
}
.card{
    background-color: transparent;
    border: none;
}

.card-producto:hover .mas{
    display: flex;
    color: white;
}

.mas {
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
    background-color: #cc160e57;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 60px;
}
.breadcrumb{
    margin-bottom: 0px !important;
}
.contenedor-breadcrumb{
    background-color: #f2f2f2;
}
aside li.active > a{
    background-color: #FFDD00 !important;
}
aside li.active ul li.activee{
    background-color: #939598 !important;
}
aside li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);  
}

aside ul li ul li {
    background-color: #f8f9fa !important;
    border: none !important;
}
aside li:last-child{
    border: none;
}

.ficha-tecnica{
    width: 180px;
    border: 1px solid #168FC8 !important;
    color: #168FC8 !important;
}
.rd-none{
    display: none;
}
.color-producto{
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
td{
    vertical-align: middle;
}

.contenedor-color{
    width: 100%;
}
.item{
    height: 5px;
    width: 5px;
    background-color: #FFDD00;
    border-radius: 100%;
}
.contenido-color{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;   
}
.eliminar-item-presupuesto{
    padding: 0px 5px;
    background-color: gray;
    color: white;
    font-weight: bold;
    border-radius: 100%;
    font-size: 10px;    
}
.hero{
    height: 70vh; 
    background-repeat: no-repeat; 
    background-size: 100% 100%; 
    background-position: center;
}

#sliderHero .carousel-indicators{
    bottom: 30px;
}
#sliderClient .carousel-indicators{
    bottom: -60px;
    left: 0;
    right: 0;
    margin: auto;
}

#sliderClient .carousel-indicators [data-bs-target]{
    background-color: gray;
}

.navbar-light .navbar-toggler-icon{
    border-radius: 2px;
}

.redes-sociales a:hover {
    color:#0d6efd;
}


.footer-redes-sociales i{
    padding: 8px 12px;
    border: 1px solid white;
    border-radius: 100%;
}
.card-service:hover h5{
    color: #0C3D6D !important;
}
.card-service:hover a{
    background-color: #0C3D6D !important;
}
.card-producto img{
    min-height: 216px;
    max-height: 216px;
    object-fit: contain;
}
.carrusel img{
    max-width: 139px;
    max-height: 122px;
}
.post{
    border-radius: 5px;
}
.content-service-company{
    box-shadow: 0px 3px 6px #00000029;
}
.pagination{
    justify-content: center
}
#form-login, #form-register{
    background-color: white;
    top: 10px;
    right: 0;
    z-index: 100;
}
.formularios{
    display: none;
}
#form-login input, #form-register input {
    display: block !important;
}
.triangulo-equilatero-bottom {
    width: 0;
    height: 0px;
    border-right: 20px solid transparent;
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 20px solid white;
    top:-18px;
}
.page-item.active .page-link{
    background-color: #ffdd00;
    border-color: #ffdd00;
}
.page-link{
    color: #ffdd00;
}
.page-item.active .page-link{
    color: black;
}
.page-link:hover{
    color: black;
}
iframe{
    max-width: 100%;
}
.logo-header{
    max-width: 260px;
}
.message{
    list-style: none;
    text-align: left;
    font-size: 12px;
    background-color: red;
    color: white;
    padding: 10px;
}
#form-register{
    display: none;
}
.formularios2{
    display: none;
    z-index: 10000;
    left: 10px;
    position: absolute;
}

.formularios2 form{
    background-color: white;
    min-width: 320px;
}

.formularios2 #form-register2{
    display: none;
}
@media (min-width: 50px){
    .categoria-producto{
        bottom: 0; 
    }
    .position-sm-static{
        position: static;
    }
    .contenedor-color{
        width: 100%;
        height: 94px;
    }

    #hilos-libertad h5{
        font-size: 1.25rem;
    }
    #sliderHeroEmpresa .carousel-indicators {
        left: 0;
        right: 0;
        bottom: 0;
    }

    .col-service{
        margin-bottom: 2rem;
    }

    .title-service{
        margin-left: 10px;
    }

    .rposition{
        position: static;
    }
}


@media (min-width: 992px){
    .contentHero{
        margin-top: 140px !important;
    }
    .borde-titulo:after{
        content: '';
        position: absolute;
        width: 75%;
        background-color: #212529;
        height: 1px;
        right: 0;
        top: 30%;
    }
    .contenedor-boton-compra > div{
        width: 48%;
    }
    #section3{
        position: relative;
    }
    #section3 .contenedor-servicios{
        position: absolute;
    }
    .form-contact{
        max-width: 70%;
        margin: auto;
        margin-top: 40px;
    }
    .content-service{
        width: 15.5%;
    }

    .content-service-company{
        width: 30%;
    }

    #posts.post-index{
        margin-top: 150px;
    }
    .post.index{
        min-height: 540px;
    }
    #section3{
        min-height: 357px;
    }
    .contenedor-calculador{
        margin-left: 15%;
    }
    .plogo-footer{
        padding-left: 75px !important;
    }
    
    .rposition{
        position: absolute;
    }
    .position-md-absolute{
        position: absolute;
    }

    .cd-block:hover .cd-none{
        display: block;
    }
    .card-client{
        width: 15%;
    }
    .col-service{
        margin-bottom: 6rem;
    }
    .title-service{
        margin-left: 110px;
    }
    nav.navbar-light .navbar-nav .nav-link{
        font-size: 90%;
    }
    .categoria-producto .container{
        max-width: 980px;
        
    }

    .contenedor-color{
        width: 18%;
    }
    /*
    nav.navbar-light .navbar-nav .nav-link.active::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        height: 4px;
        background-color: #ffdd00;
        width: 60px;
        margin: auto;
    }
    */
    .cd-block:hover .cd-none{
        display: block;
    }

    .col-service{
        margin-bottom: 6rem;
    }

    .title-service{
        margin-left: 110px;
    }

    nav.navbar-light .navbar-nav .nav-link{
        font-size: 90%;
    }

    .categoria-producto .container{
        max-width: 980px;
        
    }

    .contenedor-color{
        width: 18%;
    }
}

@media (min-width: 720px){
    #form-login, #form-register{
        min-width: 390px;
    }
    #accionamientos .card img{
        max-height: 250px;
        min-width: 250px;
        object-fit: contain;
    }

    .w-33{
        width: 33%;
    }

    #cotizadorOnline .medidas .form-group{
        width: 30%;
    }
    
    .categoria-producto{
        bottom: 120px;
    }
    .image-card{
        max-height: 250px;
        min-height: 250px;
        object-fit: cover;
        width: 100%;
    }
    #sliderHero, #sliderHero .carousel-inner, #sliderHero .carousel-item{
        max-height: 473px;
        min-height: 473px;
    }
    #sliderEmpresa, #sliderEmpresa .carousel-inner, #sliderEmpresa .carousel-item{
        max-height: 344px;
        min-height: 344px;
    }
    #sliderEmpresa .carousel-caption{
        top: 40%;
    }
    .img-client-carrusel{
        min-width: 172px;
        max-width: 172px;
        min-height: 92px;
        max-height: 92px;
        object-fit: contain;
    }

    .contenedor-color{
        width: 30%;
    }

    #hilos-libertad h5{
        font-size: 30px;
    }

    #sliderHeroEmpresa .carousel-indicators{
        bottom: 10px;
    }
    .w-md-48{
        width: 48% !important;
    }
}


@media (max-width: 992px){
    #section3 .contenedor-servicios > div{
        width: 30%;
    }
    .rbg-dark{
        background-color: #212529bd !important
    }
    .navbar-light .navbar-nav .nav-link{
        color:white;
    }
    .font-size-50{
        font-size: 25px;
    }
    .hero{
        height: 50vh;
    }
    .w-75{
        width: 100% !important;
    }
}
@media (max-width: 768px){
    .text-slider-home{
        margin-top: 130px !important;
    }
    #section3 .contenedor-servicios > div{
        width: 45%;
    }
    #form-login, #form-register {
        right: 0px;
        width: 300px;
    }
    #sliderHero, #sliderHero .carousel-inner, #sliderHero .carousel-item{
        max-height: 240px;
        min-height: 240px;
    }
    .carousel-caption .w-50{
        width: 90% !important;
    }

    .carousel-caption{
        top: 5%;
    }
    .font-size-24{
        font-size: 19px;
    }
    #heroProducto h2{
        font-size: 19px;
    }
    .logo-header{
        max-width: 150px;
    }
    .ancho-boton{
        width: 100%;
    }
    #heroProducto p{
        font-size: 15px;
    }

    #sliderHero .carousel-item{
        height: 70vh !important;
    }
    #sliderEmpresa .carousel-item{
        height: 240px !important;
    }
    #representadas img {
        width: 45%;
    }

    .font-size-62{
        font-size: 21px;
    }
}

@media (max-width: 500px){
    #form-login, #form-register{
        right: 0px;
        width: 300px;
    }
    #section3 .contenedor-servicios > div{
        width: 98%;
        justify-content: center !important;
    }
    .tabs-presupuesto img{
        max-width: 40px;
    }
    .tabs-presupuesto strong{
        font-size: 11px;
    }
    .logo-header{
        max-width: 100px;
    }
    #cotizadorOnline .medidas .form-group{
        width: 100%;
    }

    .font-size-40{
        font-size: 25px;
    }
    .font-size-30{
        font-size: 20px;
    }
    .font-size-23{
        font-size: 19px;
    }
    .font-size-16{
        font-size: 15px;
    }
    .font-size-20{
        font-size: 17px;
    }

}